@font-face {
    font-family: 'sofiaregular';
    src: url('sofia-regular-webfont.woff2') format('woff2'),
         url('sofia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-wrap: nowrap;
}

#left {
    background-image: url('roman-ivasyk-vYW_j1MLXAE-unsplash.jpg');
    background-size: 100% 100%;
    min-width: 30%;
    min-height: 100vh;
    position: relative;
    float: left;
}

#right {
    min-height: 100vh;
    min-width: 70%;
    max-height: 100vh;
    max-width: 70%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#right1 {
    font-family: 'sofiaregular';
    font-size: 2em;
    margin: 5%;
    margin-right: 25%;
    margin-left: 10%;
    margin-bottom: 5%;
    height: fit-content;
    display: inline-block;
}


#title {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 25vh;
}

#title>p {
    font-family: 'sofiaregular';
    font-size: 5em;
}

#logophoto {
    max-width: 30%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#left>p {
    position: relative;
    margin-top: 98%;
    text-align: right;
    margin-right: 1vw;
    font-family: 'Ubuntu';
    color: black;
    text-decoration: none;
    font-size: 0.6em;
}

form {
    width: 80%;
    margin-left: 10%;
    height: fit-content;
    box-shadow: 0.1vw 0.1vw 1vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;

}

form>legend {
    font-family: 'Ubuntu';
    font-size: 1.5em;
}

fieldset {
    display: grid;
    grid-template-columns: 45% 45%;
    border: none;
    row-gap: 5vh;
    column-gap: 4vw;
}

fieldset>div {
    font-family: 'Ubuntu';
    font-size: 1.3em;
}

input {
    border: 0.2vw solid rgb(199, 187, 187);
    border-radius: 1vw;
    float: right;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: inherit;
}

input:hover {
    border: 0.2vw solid rgb(218, 250, 101);
    border-radius: 1vw;
}

input:focus {
    outline: none !important;
    border: 0.2vw solid pink;
    border-radius: 1vw;
}

input:not(:focus):not(:placeholder-shown):invalid {
    outline: none !important;
    border: 0.2vw solid red;
    border-radius: 1vw;
}

input:not(:focus):not(:placeholder-shown):valid {
    outline: none !important;
    border: 0.2vw solid green;
    border-radius: 1vw;
}

.tooltip {
    font-size: 1.3vh;
    color: silver;
}